STANDARD_USER=<set_standard_username>
DEMO_PASSWORD=<set_demo_password>
URL=https://www.saucedemo.com
CYPRESS_RECORD_KEY=your_cypress_record_key
CYPRESS_PROJECT_ID=your_cypress_project_id
GIT_TOKEN=git_token
